<!DOCTYPE html>
<html>
<head>
	<title>Tweets by {{ user.screen_name }}</title>
	<style type="text/css">
		table {
			border-collapse: collapse;
		}

		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<div>
		<h2>Tweets by {{ user.screen_name }}</h2>
		<div>
			<table>
				<tr>
					<th>ID</th>
					<th>Text</th>
				</tr>
				{% for tweet in user.tweets: %}
				<tr>
					<td><a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">{{ tweet.id }}</a></td>
					<td>{{ tweet.text }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>
